<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>libssh2-ios</string>
    <key>build</key>
    <dict>
        <key>location</key>
        <dict>
            <key>type</key>
            <string>github</string>
            <key>path</key>
            <string>libssh2/libssh2</string>
            <key>branch</key>
            <string>master</string>
        </dict>
        <key>buildSystem</key>
        <string>cmake</string>
        <key>buildArgs</key>
        <array>
            <string>-DBUILD_SHARED_LIBS=OFF</string>
            <string>-DBUILD_EXAMPLES=OFF</string>
            <string>-DBUILD_TESTING=OFF</string>
            <string>-DCRYPTO_BACKEND=OpenSSL</string>
            <string>-DOPENSSL_ROOT_DIR=$#BUILDROOT#</string>
        </array>
        <key>outputs</key>
        <array>
            <string>lib/libssh2.a</string>
        </array>
    </dict>
    <key>dependencies</key>
    <array>
        <dict>
            <key>type</key>
            <string>github</string>
            <key>path</key>
            <string>IMcD23/openssl-ios</string>
            <key>branch</key>
            <string>master</string>
        </dict>
    </array>
</dict>
</plist>